*, *:before, *:after {
    box-sizing: inherit;
}

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --oscuroFooter: #2D2A2B;
    --oscuroFooterPP: #7D87CA;
    --oscuroFooterP: #8D6860;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --violeta: #76448A;
    --granate: #922B21;
    --rojo: #B03A2E;
    --ojo: #ff904f;
    --fondoOscuro: #281507;
    --fondoOscuro2: #120701;
}

html{
    box-sizing: border-box;
}

.borde{
    border: 1px solid var(--oscuro);
}

.importante{
    font-weight: bold;
    font-size: large;
}

.centro{
    text-align: center;
}

.colorAcordeon{
    background-color: var(--fondoOscuro2)!important;
    color: var(--ojo)!important;
}

.colorAcordeonIn{
    /* background-color: var(--blanco)!important; */
    color: var(--ojo)!important;
    background-image: linear-gradient(to top, var(--granate) 0%, var(--oscuro) 100%);
}

body{
    font-family: 'Gloria Hallelujah', cursive, sans-serif;
    background-image: linear-gradient(to top, var(--granate) 0%, var(--oscuro) 100%);
}

h1{
    text-align: center;
    color: var(--ojo);
}

.botones{
    color: var(--rojo);
    text-align: center;
}

button{
    text-align: center!important;
}

.botonesDescarga{
    margin-top: 10px;
}

.portada{
    width: 100%;
    height: 160px;
    margin: 0 auto;
}

.footer{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to top, var(--fondoOscuro2) 0%, var(--gris) 100%);
    color: var(--oscuroFooterPP);
    border-radius: 100px;
}

.titulo{
    text-align: center;
    font-size: 30px;
    color: var(--oscuro);
    max-width: 100%;
}


.descripcion, span{
    text-align: center!important;
    font-size: 18px;
    color: var(--blanco);
}

.cuadro{
    border: 2px solid;
    border-color: var(--oscuroFooter);
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--fondoOscuro2) 0%, var(--gris) 100%);
}

.mt{
    margin-top: 100px;
}

/* Media querys*/

@media (min-width: 768px){
    .portada{
        height: 320px;
    }
}